* {
    margin: 0;
}

nav {
   background: #3E3C3C; 
   height: 72px;
   display: flex;
   align-items: center;
}

nav p {
    color: white;
}

.logo img {
    height: 50px;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    margin-left: auto;
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.main {
    border: solid 5px black;
    background-color: black;
    height: 1440px;
}

h1 {
    font-family: Crete Round;
    font-weight: 400;
    font-size: 72px;
    line-height: 81.5px;
    letter-spacing: 0%;
    color: #F55800;
    width: 566px;
    height: 160px;
}

h2 {
font-family: Inter;
font-weight: 500;
font-size: 32px;
line-height: 44px;
letter-spacing: 0%;
vertical-align: middle;
color: #ffffff;
}

.description {
font-family: Inter;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0%;
width: 566;
height: 123;
opacity: 1;
color: #ffffff;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro-content {
    display: flex;
    flex-direction: row;
}

.intro-text {
width: 566;
height: 739;
top: 64px;
left: 142px;
padding-top: 192px;
padding-bottom: 192px;
gap: 24px;
opacity: 1;

}

.social-links {
    padding-top: 280px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro-image img {
    width: 100%;
    height: auto;
}