* {
    margin: 0;
}

nav {
   background: #3E3C3C; 
   height: 72px;
   /* display: flex; */
   align-items: center;
}

nav p {
    color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}



